@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

body { 
    margin: 0; 
}

h1 {
    color: rgb(236, 236, 236);
    font-size: 80px;
}

p {
    color: rgb(201, 201, 201);
    font-size: 40px;
}

#hero-text {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
    width: 800px;
    height: auto;
    position: absolute;
    top: 250px;
    left: 600px;
}